# =========================
# DATA
# =========================

data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep


# =========================
# PYTHON
# =========================

__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

.venv/
venv/
env/


# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/


# =========================
# TRAINED MODELS
# =========================

models/**/*.pkl
models/**/*.joblib


# =========================
# ENVIRONMENT
# =========================

.env


# =========================
# MAC
# =========================

.DS_Store